<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Portfolio Details - Squadfree Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style-landowner.css" rel="stylesheet">

</head>

<body>
  
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow">
      <div class="logo">
          <img src="assets/img/Logo.png" alt="">
      </div>
      <ul class="menu-list">
        <li class="menu-list-item"><a class="menu-list-a" href="#0">Главная</a></li>
        <li class="menu-list-item"><a class="menu-list-a" href="#0">Аналитика</a></li>
        <li class="menu-list-item"><a class="menu-list-a" href="#0">Налоги</a></li>
      </ul>
      <ul class="navbar-nav">
        <!-- Nav Item - Alerts -->
        <li class="nav-item dropdown no-arrow">
            <i class="fas fa-envelope fa-fw">
              <img class="img-profile rounded-circle" src="assets/img/profile_icon.png">
            </i>
            <span class="badge badge-danger">7</span>
            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Jake Fisher</span>
            <a class="nav-item" href="#" id="userDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img  id="image" class="img-profile-menu" src="assets/img/group.png" onclick="rotateImage()">

            <!-- Dropdown - User Information -->
            <div class="dropdown-menu animated--grow-in"
              aria-labelledby="userDropdown">
            <a class="dropdown-item" href="message.html">
                <img class="img-profile" src="assets/img/Mail.png">
                <strong class="dropdown-text">Сообщение</strong>
                <span class="badge-menu">7</span>
            </a>
            <a class="dropdown-item" href="#">
              <img class="img-profile" src="assets/img/Settings.png">
              <strong class="dropdown-text">Настройки</strong>
            </a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
              <img class="img-profile" src="assets/img/Exit.png"> 
              <strong class="dropdown-text">Выход</strong>
            </a>
                
            </a>
        </div>
        </li>

    </ul>


    </nav>
  </header><!-- End Header -->

  <div class="page-content">
    <main id="articles" class = "articles">

      <article class="article-special">
        <h2 class="work">Статистика</h2>  
        <div class="article-c"> 
          <div class="article-content">                  
            <p class="region-name">Население региона Lefford, чел.: <span class="population">450034</span></p>        
            <div class="article-information">
              <p class="region-name speal">Число хозяйств: <span class="population">127812</span></p>
              <p class="region-name speal">Среднее число жителей на хозяйство: <span class="population">3.52</span></p>
              <p class="region-name speal">Средняя площадь хозяйства, м2: <span class="population">318,28</span></p>
              <p class="region-name speal">Среднее поголовье КРС на хозяйство: <span class="population">3.57</span></p>
              <p class="region-name speal">Сумма налогов к уплате: <span class="population">56129,50</span></p>
              <p class="region-name speal">Собранная сумма налогов: <span class="population">51345,00</span></p>
            </div>
            <p class="article-p">Подробнее в раздел <a class="messa" href="message.html">Аналитика</a></p>
          </div>
          <img  class="article-illustration"  src="assets/img/image 2.png" alt="message">
        </div>
      </article>


    </main><!-- End #main -->
  </div>
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; 2023 Ravenflow. All rights reserved. <strong>
    </div>
  </footer><!-- End Footer -->

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Готовы выйти?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Выберите "Выйти" ниже, если вы готовы выйти из текущего сеанса.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Отменить</button>
                    <a class="btn btn-primary" href="login.html">Выход</a>
                </div>
            </div>
        </div>
    </div>

      <!-- Bootstrap core JavaScript-->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>



    <script type="text/javascript">
      let rotated = false;
      function rotateImage() {
        if (rotated) { 
          document.getElementById('image').style.transform = 'rotate(0deg)';
        }
        else { 
          document.getElementById('image').style.transform = 'rotate(90deg)';
        }
        rotated = !rotated;
      }
    </script>


  
</body>
</html>