<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="all" rel="stylesheet" th:href="@{/styles/bootstrap.css}">
    <link media="all" rel="stylesheet" th:href="@{/styles/bootstrap.js}">
</head>
<header style="margin-bottom: 15px">
    <nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong bg-danger">
        <div class="container-fluid d-flex flex-column align-items-center justify-content-start">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
                <img th:src="@{/images/Logo.png}" alt="" style="width: 40%; height: 40%; margin-right: 50px" class="me-4"/>
                <ul class="navbar-nav flex-grow-1"></ul>
                <img th:src="@{/images/profile_icon.png}" alt="" style="width: 5%; height: 5%" class="me-4"/>
                <a sec:authentication="principal.username" class="text-white" href="/"></a>
                <div class="nav-link">
                    <form th:action="@{/logout}" method="post">
                        <input class="btn text-white" type="submit" value="Выход">
                    </form>
                </div>
            </div>
        </div>
    </nav>
</header>
</html>