.footer_lord{
	display: flex;
	color: #fff;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	background: #AB0000; 
	height: 100 px;
	width: 100%;
	padding: 9px 0px 10px 204px
}

.footer1{
	display: flex;
	color: #fff;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	background: #353689; 
	height: 100 px;
	width: 100%;
	padding: 9px 0px 10px 204px
}