<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Portfolio Details - Squadfree Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style-messenger.css" rel="stylesheet">

</head>

<body>
  
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow">
      <div class="logo">
        <a href="messenger-workflow-main.html"><img src="assets/img/Logo.png" alt=""></a>
      </div>
      <ul class="navbar-nav">
        <!-- Nav Item - Alerts -->
        <li class="nav-item dropdown no-arrow">
            <i class="fas fa-envelope fa-fw">
              <img class="img-profile rounded-circle" src="assets/img/profile_icon.png">
            </i>
            <span class="badge badge-danger">7</span>
            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Jake Fisher</span>
            <a class="nav-item" href="#" id="userDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img  id="image" class="img-profile-menu" src="assets/img/group.png" onclick="rotateImage()">

            <!-- Dropdown - User Information -->
            <div class="dropdown-menu animated--grow-in"
              aria-labelledby="userDropdown">
            <a class="dropdown-item" href="messenger-message.html">
                <img class="img-profile" src="assets/img/Mail.png">
                <strong class="dropdown-text">Сообщение</strong>
                <span class="badge-menu">7</span>
            </a>
            <a class="dropdown-item" href="#">
              <img class="img-profile" src="assets/img/Settings.png">
              <strong class="dropdown-text">Настройки</strong>
            </a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
              <img class="img-profile" src="assets/img/Exit.png"> 
              <strong class="dropdown-text">Выход</strong>
            </a>
                
            </a>
        </div>
        </li>

    </ul>


    </nav>
  </header><!-- End Header -->

  <main id="main" class = "main">
    <div class="stroka">
        <h2>Сообщение</h2>
    </div>
    <div class="table-proc">
      <div class="table-top">
        <img class="img-profile-main" src="assets/img/profile_icon.png">
        <div class="text-main-top">
          <span>3 | Golden Tooth D4 | Jake Fisher</span>
        </div>
      </div>
      <div class="table-center">
        <div class="chat-window">
          <div class="message received">
            <div class="avatar">
              <img src="assets/img/profile_icon.png" alt="Avatar">
            </div>
            <div class="message-content">Привет!</div>
            <div class="message-time">10:00</div>
          </div>
          <div class="message sent">
            <div class="avatar">
              <img src="assets/img/profile_icon.png" alt="Avatar">
            </div>
            <div class="message-content">Привет! Как дела?</div>
            <div class="message-time">10:05</div>
          </div>
          <div class="message received">
            <div class="avatar">
              <img src="assets/img/profile_icon.png" alt="Avatar">
            </div>
            <div class="message-content">Отлично, спасибо!</div>
            <div class="message-time">10:10</div>
          </div>
        </div>
      </div>
      <div class="table-bottom">
        <!-- Topbar  message-->
          <input type="email" class="form-control-main form-control-user"
            id="" aria-describedby="emailHelp"
            placeholder="Напишите сообещение...">
          <button class="btn-main btn-primary" type="button">
            <img class="message-name" src="assets/img/3682321.png" alt="message">
          </button>
      </div>
    </div>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; 2023 Ravenflow. All rights reserved. <strong>
    </div>
  </footer><!-- End Footer -->

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Готовы выйти?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Выберите "Выйти" ниже, если вы готовы выйти из текущего сеанса.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Отменить</button>
                    <a class="btn btn-primary" href="messenger-login.html">Выход</a>
                </div>
            </div>
        </div>
    </div>

      <!-- Bootstrap core JavaScript-->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>



    <script type="text/javascript">
      let rotated = false;
      function rotateImage() {
        if (rotated) { 
          document.getElementById('image').style.transform = 'rotate(0deg)';
        }
        else { 
          document.getElementById('image').style.transform = 'rotate(90deg)';
        }
        rotated = !rotated;
      }
    </script>


  
</body>
</html>